## Data Understanding

In [1]:
# Import Libraries
import pandas as pd
import numpy as np

In [2]:
# Read the data into a dataframe
df_accidents = pd.read_json('crash_data.json')

In [3]:
class DataUnderstanding:
    """This class gives the general quick overview of a Dataframe"""
    
    def __init__(self, dataframe):
        self.df = dataframe
        
    def print_shape(self, title="Record"):
        """This function gives us the shape of the data"""
        print(title.upper())
        print("-"*len(title))
        print("There are", self.df.shape[0], "rows")
        print("There are", self.df.shape[1], "columns")
        print("\n")
        
    def information(self, title="Info"):
        """This function gives us the descriptive information of the data"""
        print(title.upper())
        print("-"*len(title))
        print(self.df.info())
        print("\n")
        
    def duplicate_values(self, title="Duplicate Values"):
        """This function gives us the number of duplicates in the data"""
        print(title.upper())
        print("-"*len(title))
        try:
            print(f"There are {self.df.duplicated().sum()} duplicated values in this dataset")
        except:
            print("There was a Type Error: One column has a 'dict' values")
        print("\n")
        
    def null_values(self, title="Null Values"):
        """This function gives us the number of null values in the data"""
        print(title.upper())
        print("-"*len(title))
        isnulls = self.df.isnull().sum()
        print(f"There are {isnulls.sum()} null values in this dataset")
        print("\n")
        
        print(f"There are {len(isnulls[isnulls > 0])} columns with null values while {len(isnulls[isnulls == 0])}"\
             +" do not have null values")
        print("\n")
        
        print("Null Values per column")
        print(isnulls[isnulls > 0])
        print("\n")        
        
    def unique_values(self, title="Unique Values"):
        """This function gives us the unique and nunique values in the data"""
        print(title.upper())
        print("-"*len(title))
        for col in self.df.columns:
            print(col)
            print("-"*len(col))
            try:
                print(f"Number of unique values: {self.df[col].nunique()}")
            except:
                print("Error - This column has a type error")
            print("\n")
        
        
    def run_all(self):
        self.print_shape()
        self.information()
        self.duplicate_values()
        self.null_values()
        self.unique_values()

In [4]:
# Implement the class on the dataframe
data = DataUnderstanding(df_accidents)
data.run_all()

RECORD
------
There are 1000 rows
There are 44 columns


INFO
----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 44 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   report_number                 1000 non-null   object
 1   local_case_number             1000 non-null   int64
 2   agency_name                   1000 non-null   object
 3   acrs_report_type              1000 non-null   object
 4   crash_date_time               1000 non-null   datetime64[ns]
 5   number_of_lanes               1000 non-null   object
 6   distance_unit                 1000 non-null   object
 7   off_road_description          133 non-null    object
 8   at_fault                      1000 non-null   object
 9   collision_type                1000 non-null   object
 10  weather                       1000 non-null   object
 11  light                         1000 non-null   object
 12  driver_substance_abuse        993 non-null    object
 13  first_harmful_event           1000 non-null   object
 14  latitude                      1000 non-null   float64
 15  longitude                     1000 non-null   float64
 16  geolocation                   1000 non-null   object
 17  :@computed_region_vu5j_pcmz   998 non-null    float64
 18  :@computed_region_tx5f_5em3   998 non-null    float64
 19  :@computed_region_kbsp_ykn9   998 non-null    float64
 20  :@computed_region_d7bw_bq6x   1000 non-null   int64
 21  :@computed_region_rbt8_3x7n   999 non-null    float64
 22  :@computed_region_a9cs_3ed7   998 non-null    float64
 23  :@computed_region_r648_kzwt   998 non-null    float64
 24  :@computed_region_6vgr_duib   998 non-null    float64
 25  hit_run                       803 non-null    object
 26  lane_direction                862 non-null    object
 27  lane_type                     867 non-null    object
 28  direction                     867 non-null    object
 29  distance                      867 non-null    float64
 30  road_grade                    867 non-null    object
 31  surface_condition             862 non-null    object
 32  traffic_control               867 non-null    object
 33  junction                      847 non-null    object
 34  intersection_type             281 non-null    object
 35  road_alignment                867 non-null    object
 36  road_condition                867 non-null    object
 37  road_division                 867 non-null    object
 38  route_type                    866 non-null    object
 39  road_name                     743 non-null    object
 40  cross_street_name             338 non-null    object
 41  second_harmful_event          189 non-null    object
 42  related_non_motorist          70 non-null     object
 43  non_motorist_substance_abuse  70 non-null     object
dtypes: datetime64[ns](1), float64(10), int64(2), object(31)
memory usage: 343.9+ KB
None


DUPLICATE VALUES
----------------
There was a Type Error: One column has a 'dict' values


NULL VALUES
-----------
There are 7020 null values in this dataset


There are 28 columns with null values while 16 do not have null values


Null Values per column
off_road_description            867
driver_substance_abuse            7
:@computed_region_vu5j_pcmz       2
:@computed_region_tx5f_5em3       2
:@computed_region_kbsp_ykn9       2
:@computed_region_rbt8_3x7n       1
:@computed_region_a9cs_3ed7       2
:@computed_region_r648_kzwt       2
:@computed_region_6vgr_duib       2
hit_run                         197
lane_direction                  138
lane_type                       133
direction                       133
distance                        133
road_grade                      133
surface_condition               138
traffic_control                 133
junction                        153
intersection_type               719
road_alignment                  133
road_condition                  133
road_division                   133
route_type                      134
road_name                       257
cross_street_name               662
second_harmful_event            811
related_non_motorist            930
non_motorist_substance_abuse    930
dtype: int64


UNIQUE VALUES
-------------
report_number
-------------
Number of unique values: 1000


local_case_number
-----------------
Number of unique values: 999


agency_name
-----------
Number of unique values: 5


acrs_report_type
----------------
Number of unique values: 3


crash_date_time
---------------
Number of unique values: 981


number_of_lanes
---------------
Number of unique values: 25


distance_unit
-------------
Number of unique values: 1


off_road_description
--------------------
Number of unique values: 132


at_fault
--------
Number of unique values: 4


collision_type
--------------
Number of unique values: 10


weather
-------
Number of unique values: 6


light
-----
Number of unique values: 8


driver_substance_abuse
----------------------
Number of unique values: 22


first_harmful_event
-------------------
Number of unique values: 30


latitude
--------
Number of unique values: 1000


longitude
---------
Number of unique values: 1000


geolocation
-----------
Error - This column has a type error


:@computed_region_vu5j_pcmz
---------------------------
Number of unique values: 5


:@computed_region_tx5f_5em3
---------------------------
Number of unique values: 5


:@computed_region_kbsp_ykn9
---------------------------
Number of unique values: 54


:@computed_region_d7bw_bq6x
---------------------------
Number of unique values: 39


:@computed_region_rbt8_3x7n
---------------------------
Number of unique values: 11


:@computed_region_a9cs_3ed7
---------------------------
Number of unique values: 5


:@computed_region_r648_kzwt
---------------------------
Number of unique values: 5


:@computed_region_6vgr_duib
---------------------------
Number of unique values: 7


hit_run
-------
Number of unique values: 2


lane_direction
--------------
Number of unique values: 20


lane_type
---------
Number of unique values: 59


direction
---------
Number of unique values: 4


distance
--------
Number of unique values: 554


road_grade
----------
Number of unique values: 13


surface_condition
-----------------
Number of unique values: 3


traffic_control
---------------
Number of unique values: 25


junction
--------
Number of unique values: 8


intersection_type
-----------------
Number of unique values: 3


road_alignment
--------------
Number of unique values: 6


road_condition
--------------
Number of unique values: 5


road_division
-------------
Number of unique values: 15


route_type
----------
Number of unique values: 13


road_name
---------
Number of unique values: 403


cross_street_name
-----------------
Number of unique values: 274


second_harmful_event
--------------------
Number of unique values: 21


related_non_motorist
--------------------
Number of unique values: 6


non_motorist_substance_abuse
----------------------------
Number of unique values: 4